<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Golden Ticket</title>
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!------------------ Header ------------------->
  <header>
    <!-- Logo -->
    <div>
      <a href="#"><img src="/images/logo.svg" alt="Logo Golden Ticket"></a>
    </div>

    <!-- Barra de Busqueda -->
    <div class="search-bar">
      <input type="text" placeholder="Buscar productos, marcas">
      <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    
    <!-- Barra de Navegacion -->
    <nav>
      <ul>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </nav>
  </header>

  <!------------------ Main ------------------->
  <main>
    <!-- Carrusel de Imagenes -->
    <div class="slider">
      <div class="slider-img-container">
        <img src="#" alt="Img 1">
        <img src="#" alt="Img 2">
        <img src="#" alt="Img 3">
      </div>
      <div class="slider-buttons-container">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </div>
    </div>

    <!-- Seccion 1 -->
    <section>
      <h2>Titulo Seccion 1</h2>
      <h4>Un Subtitulo</h4>

      <!-- Contenedor de las cards -->
      <div class="cards-container">
        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>

        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>
        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>
        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>
      </div>
    </section>

    <!-- Seccion 2 -->
    <section>
      <h2>Titulo Seccion 1</h2>
      <h4>Un Subtitulo</h4>

      <!-- Contenedor de las cards -->
      <div class="cards-container">
        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>

        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>
        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>
        <!-- producto -->
        <article class="product">
          <img src="#" alt="Imagen de Show">
          <h3>Titulo Show</h3>
          <div class="product-info">
            <div class="left-info">
              <p>mie</p>
              <p>08</p>
              <p>NOV 2023</p>
            </div>
            <div class="right-info">
              <p><i class="fa-solid fa-location-dot" style="color: #000000;"></i>Lugar del Show</p>
              <button>Comprar</button>
            </div> 
          </div>
        </article>
      </div>
    </section>
  </main>

  <!------------------ Footer ------------------->
  <footer>
    <!-- Footer Top Bar -->
    <div class="footer-top-bar">
      <!-- Logo -->
      <div>
        <a href="#"><img src="/images/logo.svg" alt="Logo Golden Ticket"></a>
      </div>

      <!-- Navegacion -->
      <nav>
        <ul class="footer-top-nav">
          <li><a href="#">¿Sos artista o productor?</a></li>
          <li><a href="#">Contanos tu experiencia</a></li>
          <li><a href="#">contacto@goldenticket.com</a></li>
        </ul>
        <ul class="footer-top-nav-social">
          <h5>Siguenos en:</h5>
          <li><i class="fa-brands fa-facebook" style="color: #0446b9;"></i><a href="https://www.facebook.com/">Facebook</a></li>
          <li><i class="fa-brands fa-x-twitter"></i><a href="https://twitter.com/">Twitter</a></li>
          <li><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/">Instagram</a></li>
          <li><i class="fa-brands fa-youtube"></i><a href="https://www.youtube.com/"></a>Youtube</li>
        </ul>
      </nav>
    </div>

    <!-- Footer Bot bar -->
    <div class="footer-bot-bar">
      <!-- Navegacion -->
      <nav>
        <ul class="footer-bot-nav">
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Terminos y Condiciones</a></li>
          <li><a href="#">Privacidad</a></li>
        </ul>
      </nav>

      <!-- Copyright -->
      <div class="copyright">
        <p>© Golden Ticket 2023 // Hecho con ❤️ en Argentina :)</p>
      </div>
    </div>
  </footer>
</body>
</html>