<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Ticket</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <!------------------ Header ------------------->
    <header>
      <!-- Logo -->
      <div>
        <a href="#"><img src="/images/logo.svg" alt="Logo Golden Ticket"></a>
      </div>

      <!-- Barra de Busqueda -->
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos, marcas">
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>
      
      <!-- Barra de Navegacion -->
      <nav>
        <ul>
          <li><a href="/login">Log in</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
    </header>

    <!------------------ Main ------------------->
    <main>
      <h2 class="title-main">Formulario de Compra</h2>
      <!-- Seccion de Informacion del Show -->
      <section class="container-info-show">
        <div class="info-show-text">
          <h2 class="title-show">Fito Paez</h2>
          <p><i class="fa-regular fa-calendar-day"></i> Sábado 16 Diciembre, 21:00 hrs</p>
          <p><i class="fa-solid fa-location-dot"></i> Estadio Jorge Luis Hirschi</p>
          <p> <i class="fa-solid fa-location-dot"></i>Av. 1 1150, La Plata, Provincia de Buenos Aires, Argentina</p>
        </div>
      </section>

      <!-- Seccion de formulario -->
      <section class="container-form">
        <form action="/" method="post">
          <fieldset>
            <legend>Datos Personales</legend>

            <!-- Nombre -->
            <p class="container-input">
              <label for="name">Nombre</label>
              <input type="text" id="name" name="name" required>
            </p>

            <!-- Apelllido -->
            <p class="container-input">
              <label for="last-name">Apellido</label>
              <input type="text" id="last-name" name="last-name" required>
            </p>

            <!-- DNI -->
            <p class="container-input">
              <label for="dni">Apellido</label>
              <input type="number" id="dni" name="dni" required>
            </p>

            <!-- Email -->
            <p class="container-input">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required>
            </p>
          </fieldset>

          <fieldset>
            <legend>Datos de Pago</legend>

            <!-- Numero de la tarjeta -->
            <p class="container-input">
              <label for="card-number">Numero de la tarjeta</label>
              <input type="number" id="card-number" name="card-number" required>
            </p>

            <!-- Titular de tarjeta -->
            <p class="container-input">
              <label for="card-name">Titular de la Tarjeta</label>
              <input type="text" id="card-name" name="card-name" required>
            </p>

            <!-- Fecha de expiracion -->
            <p class="container-input">
              <label for="expiration-date">Fecha de expiración</label>
              <input type="number" id="expiration-date" name="expiration-date" required placeholder="MM/YY">
            </p>

            <!-- Codigo de Seguridad -->
            <p class="container-input">
              <label for="security-code">Código de Seguridad</label>
              <input type="number" id="security-code" name="security-code" required>
            </p>
          </fieldset>

          <button type="submit">Comprar</button>
        </form>
      </section>


    </main>

    <!------------------ Footer ------------------->
    <footer>
      <!-- Footer Top Bar -->
      <div class="footer-top-bar">
        <!-- Logo -->
        <div>
          <a href="#"><img src="/images/logo.svg" alt="Logo Golden Ticket"></a>
        </div>

        <!-- Navegacion -->
        <nav>
          <ul class="footer-top-nav">
            <li><a href="#">¿Sos artista o productor?</a></li>
            <li><a href="#">Contanos tu experiencia</a></li>
            <li><a href="#">contacto@goldenticket.com</a></li>
          </ul>
          <ul class="footer-top-nav-social">
            <h5>Siguenos en:</h5>
            <li><i class="fa-brands fa-facebook" style="color: #0446b9;"></i><a href="https://www.facebook.com/">Facebook</a></li>
            <li><i class="fa-brands fa-x-twitter"></i><a href="https://twitter.com/">Twitter</a></li>
            <li><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/">Instagram</a></li>
            <li><i class="fa-brands fa-youtube"></i><a href="https://www.youtube.com/"></a>Youtube</li>
          </ul>
        </nav>
      </div>

      <!-- Footer Bot bar -->
      <div class="footer-bot-bar">
        <!-- Navegacion -->
        <nav>
          <ul class="footer-bot-nav">
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Terminos y Condiciones</a></li>
            <li><a href="#">Privacidad</a></li>
          </ul>
        </nav>

        <!-- Copyright -->
        <div class="copyright">
          <p>© Golden Ticket 2023 // Hecho con ❤️ en Argentina :)</p>
        </div>
      </div>
    </footer>
  </body>

</html>