.product-section{
  /* padding: 30px; */
  max-width: 80%;
  margin: 50px auto;
}

.product-section i{
  color: var(--primary-200);
}

.cards-container {
  display: grid;
}

.product {
  margin: 1rem auto;
  background-color: white;
  min-width: 240px;
  max-width: 300px;

}

.product > img {
  width: 100%;
}

.product > h3 {
  padding: 0.5rem 0;
  text-align: center;
}

.product-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px
}

.product-info > .left-info {
  display: flex;
  flex-direction: column;
  /* background-color: var(--color-secondary); */
  text-align: center;
}

.product-info > .right-info {
  text-align: center;
}

.left-info span{
  font-size: 20px;
  font-weight: 700;
}

.right-info a{
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #76bf41;
}

/* Tablet size */
@media only screen and (min-width: 550px) {
  .product-section{
    max-width: 90%;
  }

  .product {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    /* padding: 0 1em; */
  }
}

/* Desktop size */
@media only screen and (min-width: 1075px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
