.cards-container {
  display: grid;
}

.product{
  background-color: #AFB;
  margin: 1rem auto;
}

.product > img{
  width: 100%;
}

.product > h3{
  text-align: center;
}

.product-info{
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
  align-items: center;
}

.product-info > .left-info{
  display: flex;
  flex-direction: column;
  background-color: #BAF;
  text-align: center;
  margin: 1rem;
}

.product-info > .right-info{
  text-align: center;
}

/* Tablet size */
@media only screen and (min-width: 361px) {
  .cards-container{
    padding: 0 1em;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

/* Desktop size */
@media only screen and (min-width: 769px) {
  .cards-container{
    grid-template-columns: repeat(4, 1fr);
  }
}