footer{
  padding: 10px 0;
  background-color: var(--accent-200);
}

.footer-top-bar,
.footer-bot-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-top-bar ul,
.footer-bot-bar ul {
  list-style-type: none;
}

.footer-top-bar a,
.footer-bot-bar a {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.footer-bot-bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-top-nav {
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.footer-bot-nav li{
  margin: 0px 8px;
}

.footer-top-nav-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 15px 0;
}
.footer-top-nav-social i {
  padding: 0 4px;
  font-size: 2rem;
}
.footer-top-nav-social h5 {
  flex: 100%;
  width: 100%;
}

footer figure {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}

footer svg {
  max-height: 100%;
}
.copyright{
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}

/* Tablet size */
@media only screen and (min-width: 361px) {
  .footer-top-bar,
  .footer-bot-bar {
    flex-direction: row;
  }

  .footer-top-nav{
    margin: 0;
  }
}

/* Desktop size */
@media only screen and (min-width: 604px) {
  .footer-bot-bar{
    margin-top: 10px;
  }
  
  .copyright{
    margin: 0;
  }
}
