.container-prices{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.form-select{
    width: 300px;
    margin: 0 50px;
}

.btn-comprar{
    text-decoration: none;
    color: black;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 15px;
}

.info-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.show-img img{
    width: 100%;
}

.show-text{
    padding: 50px;
}