:root {
  --color-primary: #fff;
  --color-primary-dark: #000;
  --color-primary-light: #000;

  --color-secondary: #f4c01e;
  --color-secondary-dark: #000;
  --color-secondary-light: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  background-color: #666;
}


header .search-bar input {
  border-style: none;
  padding: 8px 10px;
  border-radius: 8px 0 0 8px;
  height: 2.5rem;
}

header .search-bar button {
  border-style: none;
  height: 2.5rem;
  padding: 8px 10px;
  border-radius: 0 8px 8px 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header nav li {
  float: left;
}

header nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#logo {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#logo figure {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

#logo svg {
  max-height: 100%;
}
