<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <!------------------ Main ------------------->
    <main>
      <h2 class="title-main">Formulario de Compra</h2>

      <!-- Seccion de Informacion del Show -->
      <section class="info-show">
        <div class="show-img">
          <img src="/images/benjaminAmadeo.png" alt="" />
        </div>

        <div class="show-text">
          <h2>Nombre Artista</h2>
          <p>
            <i class="fa-solid fa-calendar-days" style="color: #000000"></i
            >Fecha y hora del show
          </p>
          <p>
            <i class="fa-solid fa-location-dot" style="color: #000000"></i
            >Nombre del estadio/lugar
          </p>
          <p>
            <i class="fa-solid fa-location-dot" style="color: #000000"></i
            >Ubicacion del estadio/lugar
          </p>
        </div>

        <hr />
      </section>

      <!-- Seccion de formulario -->
      <section class="container-form">
        <form action="/" method="post">
          <fieldset>
            <legend class="payments-details">Datos Personales</legend>

            <!-- Nombre -->
            <p class="container-input">
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Nombre"
                required
              />
            </p>

            <!-- Apelllido -->
            <p class="container-input">
              <input
                type="text"
                id="last-name"
                name="last-name"
                placeholder="Apellido"
                required
              />
            </p>

            <!-- DNI -->
            <p class="container-input">
              <input
                type="number"
                id="dni"
                name="dni"
                placeholder="DNI"
                required
              />
            </p>

            <!-- Email -->
            <p class="container-input">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
              />
            </p>
          </fieldset>

          <fieldset>
            <legend class="payments-details">Datos de Pago</legend>

            <!-- Numero de la tarjeta -->
            <p class="container-input">
              <input
                type="number"
                id="card-number"
                name="card-number"
                placeholder="Número de la tarjeta"
                required
              />
            </p>

            <!-- Titular de tarjeta -->
            <p class="container-input">
              <input
                type="text"
                id="card-name"
                name="card-name"
                placeholder="Titular de la tarjeta"
                required
              />
            </p>

            <!-- Fecha de expiracion -->
            <p class="container-input">
              <input
                type="number"
                id="expiration-date"
                name="expiration-date"
                required
                placeholder="MM/YY"
              />
            </p>

            <!-- Codigo de Seguridad -->
            <p class="container-input">
              <input
                type="number"
                id="security-code"
                name="security-code"
                placeholder="Código de seguridad"
                required
              />
            </p>
          </fieldset>

          <div class="btn-submit">
            <a href="/purchase-form" class="btn-comprar">Comprar</a>
          </div>
        </form>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
