main{
  width: 90%;    
  margin: 50px auto;
  padding: 25px 20px;
  border: 1px solid var(--primary-300);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.10);
  max-width: 550px;
  background-color: white;
}

.title-form, .subtitle-from, .info-form{
  margin: 15px 0px;
}

.title-form{
  font-size: 30px;
}

.button-google{
  display: block;
  text-align: center;
}

.button-google img{
  margin-top: 25px;
}

.separator{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}

.separator > .line{
  border-top: 1px solid var(--accent-200);
  flex-grow: 1;
  margin: 0px 10px;
  max-width: 125px;
}


main form {
  padding: 0 1rem;
  text-align: start;
  max-width: 360px;
}

.container-input{
  margin: 1rem 0;
}

.container-input label {
  display: block;
  padding: 0.5rem 0;
  font-weight: 700;
  margin-left: 5px
}

.container-input .text-checkbox{
  font-weight: 400;
  font-size: 12px;
}

.container-input input, .container-input select, .container-input textarea{
  width: 100%;
  border-style: none;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.container-input input[type=checkbox] {
  width: inherit;
}

.container-input label[for=checkbox]{
  display: inline;
}

.required-text{
  text-align: center;
  margin-bottom: 15px;
}

.button-form{
  display: block;
  margin: 0px auto 1rem;
  padding: 0.5rem;
  border-style: none;
  width: 80%;
  background-color: var(--primary-200);
  border-radius: 10px;
  font-weight: 700;
  max-width: 200px;
}

/* Tablet size */
@media only screen and (min-width: 500px) {
  main form {
    margin: auto;
  }
}

/* Desktop size */
@media only screen and (min-width: 850px) {
  main{
    max-width: none;
    padding: 25px 40px;
  }

  main form{
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: none;
  }

  .container-input{
    width: 45%;
  }

  .phone-container, .checkbox-container{
    width: 95%;
  }

  .phone-container input{
    max-width: 48%;
  }

  .checkbox-container input{
    max-width: 2%;
  }

  .required-text{
    width: 100%;
  }
}
