.title-main {
    text-align: center;
    margin: 50px 0;
}

.payments-details {
    text-align: center;
    padding: 20px;
}

.container-input {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}


.btn-submit {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-input input,
.container-input select {
    width: 90%;
    border-style: none;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


main form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 80%;
    margin: 3rem auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* Tablet or Desktop size */
@media (min-width: 769px) {
    main form {
        width: 50%;
    }
}
