:root {
  --primary-100:#FFD700;
  --primary-200: #f4c01e;
  --primary-300:#ddb900;
  --primary-400:#917800;
  
  --btn: #76bf41;
  --btn-hover:#ade981;

  --accent-100:#C0C0C0;
  --accent-200:#666;
  --accent-300:#626262;

  --text-100:#000;
  --text-200:#333333;
  --text-300:#5c5c5c;
  
  --bg-100:#F7F7F7;
  --bg-200:#ededed;
  --bg-300:#c4c4c4;
  --bg-400: #ebebeb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body{
  background-color: var(--bg-400);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #161615;
  padding: 15px 25px;
}

#logo figcaption{
  font-size: 22px;
  font-weight: 700;
}

.search-bar{
  margin: 15px 0;
}

header .search-bar input {
  border-style: none;
  padding: 8px 10px;
  border-radius: 8px 0 0 8px;
  height: 2.5rem;
}

header .search-bar button {
  border-style: none;
  height: 2.5rem;
  padding: 8px 10px;
  border-radius: 0 8px 8px 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header nav li {
  float: left;
}

header nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#logo {
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#logo figure {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

#logo svg {
  max-height: 100%;
}

.content-center{
  text-align: center;
}

.responsive_image{
  max-width: 100%;
}