<!-- Barra de Navegacion -->
<nav>
  <ul>
    <li><a href="/users/login">Log in</a></li>
    <li><a href="/users/register">Register</a></li>
  </ul>
</nav>

<!-- Menú para pruebas -->
<ul>
  <li><a href="/products/create">Crear producto</a></li>
  <li><a href="/products/1">Detalle de producto</a></li>
  <li><a href="/products/cart">Carrito de compras</a></li>
  <li><a href="/products/purchase">Comprar producto</a></li>
  <li><a href="/products/1/edit">editar producto</a></li>
</ul>