<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <!------------------ Main ------------------->
    <main>
      <h1 class="title-form">Registrate</h1>
      <h2 class="subtitle-form">
        ¿Ya tienes tu cuenta? <a href="/login">Iniciá Sesión</a>
      </h2>
      <p class="info-form">
        Completá tus datos con la info que figure en tu DNI. Estos datos son tu
        acceso a todos los eventos
      </p>

      <a class="button-google" href="https://google.com">
        <img src="/images/web_light_sq_ctn.svg" alt="Registrate con google" />
      </a>

      <p class="separator">
        <span class="line"></span>
        <span>o</span>
        <span class="line"></span>
      </p>

      <form action="/" method="post">
        <!-- Nombre -->
        <div class="container-input">
          <label for="name">Nombre</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            placeholder="Nombre *"
          />
        </div>

        <!-- Apellido -->
        <div class="container-input">
          <label for="last-name">Apellido</label>
          <input
            type="text"
            id="last-name"
            name="last-name"
            required
            placeholder="Apellido *"
          />
        </div>

        <!-- Email -->
        <div class="container-input">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Email *"
          />
        </div>

        <!-- DNI -->
        <div class="container-input">
          <label for="dni">DNI</label>
          <input
            type="number"
            name="dni"
            id="dni"
            required
            placeholder="DNI *"
          />
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="container-input">
          <label for="birthday">Fecha de nacimiento</label>
          <input type="date" name="birthday" id="birthday" required />
        </div>

        <!-- Lugar de Residencia -->
        <div class="container-input">
          <label for="residence">Lugar de Residencia</label>
          <select id="residence" name="residence">
            <option selected disabled>Lugar de Residencia</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucumán">Tucumán</option>
          </select>
        </div>

        <!-- Telefono -->
        <div class="container-input phone-container">
          <label for="number-phone">Numero de Teléfono</label>
          <input
            type="number"
            name="number-phone"
            id="number-phone"
            placeholder="Teléfono"
          />
        </div>

        <!-- Contraseña -->
        <div class="container-input">
          <label for="password">Contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña *"
            required
          />
        </div>

        <!-- Confirmar Contraseña -->
        <div class="container-input">
          <label for="confirm_password">Confirmar Contraseña</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            placeholder="Confirmar contraseña *"
            required
          />
        </div>

        <!-- Checkbox -->
        <div class="container-input checkbox-container">
          <input type="checkbox" id="checkbox" name="newslatter" />
          <label class="text-checkbox" for="checkbox"
            >Quiero recibir información por email sobre promociones o eventos
            que pueden interesarme.</label
          >
        </div>

        <p class="required-text">* Campos requeridos</p>

        <button class="button-form" type="submit">Registrarme</button>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
